:root {
    --bg-colour: #efefe3;
    --body-bg-colour: #fbf8f3;
    --primary-colour: #264a4a;
    --sub-title-colour: #333333;
    --muted-colour: #999999;
    --muted-font: #a8b7b7;
    --font: "Instrument Sans";
    --lg-p: 20px;
    --lg-mb: 150px;
    --md-mb: 100px;
    --sm-mb: 80px;
    --vsm-mb: 60px;
    --lg-max-w: 1336px;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}

.section-spacings {
    width: 100%;
    max-width: var(--lg-max-w);
    padding-inline: var(--lg-p);
    margin-inline: auto;
    margin-bottom: var(--lg-mb);
}

.navbar {
    width: 100%;
    background: var(--bg-colour);
    position: relative;
}

.navbar_spacing {
    padding-inline: var(--lg-p);
    width: 100%;
    max-width: var(--lg-max-w);
    max-width: var(--lg-max-w);
    margin-inline: auto;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    width: 100%;
}

.navbar-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    column-gap: 30px;
}

.nav-items-container {
    display: flex;
    align-items: center;
}

.nav-items {
    margin-inline: 10px;
    padding-inline: 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.navbar-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.ham_menu {
    width: 28px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.ham-stick {
    width: 100%;
    height: 1px;
    background: black;
    transition: all linear 200ms;
}

.feast-card {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--primary-colour);
    padding: 30px;
    transform: translateX(100%);
    transition: transform 600ms cubic-bezier(.22, 1, .36, 1);
    z-index: 999;
}

.feast-card.active {
    transform: translateX(0);
}

.card-return-x-wrapper {
    display: flex;
    justify-content: end;
}

.card-return-x  {
    position: relative;
    z-index: 998;
    width: 20px;
    height: 20px;
    display: flex;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transform: rotate(45deg);
    margin-right: 60px;
    margin-bottom: 90px;
}

.card-return-stick {
    width: 100%;
    height: 1px;
    background: white;
    transform-origin: center;
    transition: all 450ms cubic-bezier(.22, 1, .36, 1);
}

.card-stick-1 {
    transform: rotate(-90deg);
    position: absolute;
    z-index: 2;
}

.ham_menu.active .card-stick-1{
    transform: rotate(45deg);
}

.ham_menu.active .card-stick-2{
    transform: rotate(-45deg);
}

.feast-card-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 380px;
}

.feast-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 362px;
    text-align: center;
    color: var(--muted-font);
    line-height: 1.7;
}

.feast-card-info {
    display: flex;
    flex-direction: column;
}

.feast-card-info > p, span {
    font-size: 16px;
    text-transform: none;
}

.feast-card-info > .info-1 {
    width: 262px;
    margin-block: 40px 10px;
}

.feast-card-info > .info-3, .info-4 {
    margin-top: 10px;
}

.feast-card-info > .info-3 > span, .info-4 > span {
    color: white;
}

.social-media-acc {
    display: flex;
    column-gap: 6px;
}

.social-media-acc > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba(90, 90, 90, 0.5);
    color: white;
    transition: all 230ms linear;
}

.card-social-media-acc > a:hover {
    border: 1px solid white;
}

.mobile-nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--bg-colour);
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition:  opacity .7s cubic-bezier(0.22, 1, 0.36, 1);
}

.mobile-nav-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

.mobile-nav-items {
    flex-direction: column;
    row-gap: 20px;
}

.mobile-nav a {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 400ms ease, transform 500ms cubic-bezier(.22, 1, .36, 1);
}

.mobile-nav.active {
    max-height: 250px;
    opacity: 1;
    transition: opacity 700ms cubic-bezier(.22, 1, .36, 1);
    z-index: 5;
    
}

.mobile-nav.active a {
    opacity: 1;
    transform: translateY(0);
}

.mobile-nav.active a:nth-child(1){
    transition-delay: 5ms;
}
.mobile-nav.active a:nth-child(2){
    transition-delay: 10ms;
}
.mobile-nav.active a:nth-child(3){
    transition-delay: 15ms;
}
.mobile-nav.active a:nth-child(4){
    transition-delay: 20ms;
}
.mobile-nav.active a:nth-child(5){
    transition-delay: 25ms;
}

.navbar-ham_menu.active > .ham_menu > .ham-top {
    transform: translate(0px, 7px) rotate(-45deg);
}
.navbar-ham_menu.active > .ham_menu > .ham-mid {
    opacity: 0;
}
.navbar-ham_menu.active > .ham_menu > .ham-bot {
    transform: translate(0px, -7px) rotate(45deg);
}

.animation-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.animation-1 {
    position: relative;
}

.animation-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.animation-wrapper.animating .animation-1, .animation-wrapper.animating .animation-2 {
    transition: transform 500ms cubic-bezier(.22, 1, .36, 1);
}

.animation-wrapper.state-1 .animation-1 { 
    transform: translateY(0);
}
.animation-wrapper.state-1 .animation-2 {
    transform: translateY(100%);
}

.animation-wrapper.state-1.is-hovered .animation-1 {
    transform: translateY(-100%);
}
.animation-wrapper.state-1.is-hovered .animation-2 {
    transform: translateY(0);
}

.animation-wrapper.state-2 .animation-1 {
    transform: translateY(100%);
}
.animation-wrapper.state-2 .animation-2 {
    transform: translateY(0);
}

.animation-wrapper.state-2.is-hovered .animation-1 {
    transform: translateY(0);
}
.animation-wrapper.state-2.is-hovered .animation-2 {
    transform: translateY(-100%);
}

.hero {
    width: 100%;
    height: fit-content;
    background: var(--bg-colour);
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/67a1aaff03b9228fab8aaa11_hero-bbg.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 70px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 45%;
    row-gap: 156px;
    padding: 80px 0 40px 0;
}

.context-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    row-gap: 40px;
}

.hero_text-only {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title {
    font-size: 60px;
    color: var(--primary-colour);
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 25px;
}

.hero-text, .uni-text1 {
    line-height: 1.7;
}

.hero-button, .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    column-gap: 5px;
    background: var(--primary-colour);
    color: white;
    font-size: 14px;
    max-height: 45px;
    position: relative;
    z-index: 0;
}

.button-icon, .arrow-icon {
    height: 24px;
}

.context-bot {
    display: flex;
    justify-content: start;
    column-gap: 40px;
    width: 100%;
}

.context-bot1, .context-bot2 {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 260px;
}

.context-bot1-w-img, .context-bot2-w-img {
    display: flex;
    align-items: center;
    width: 210px;
    gap: 15px;
}

.context-bot1-w-img > p, .context-bot2-w-img > p {
    font-weight: 500;
    line-height: 24px;
}

.context-bot1 > p, .context-bot2 > p {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.hero-right {
    display: flex;
    justify-content: start;
    flex: 1;
    width: 100%;
    max-width: 56%;

}

.hero-right > img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.sec_below-hero {
    width: 100%;
}

.sec_below-hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: fit-content;
    column-gap: 60px;
}

.sec_below-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 16px;
    width: 100%;
    max-width: 38%; 
    line-height: 1.7;
}

.sec_below-left > div {
    width: 100%;
}

.sec_below-left img {
    width: 100%;
    object-fit: cover;
}

.sec_below-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
    width: 100%;
    max-width: 62%;
    line-height: 1.7;
    position: relative;
}

.sec_below-right-text {
    display: flex;
    flex-direction: column;
}

.sec_below-right > div > h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.5;
}

.sec_below-floating-img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    width: fit-content;
    height: 600px;
    column-gap: 20px;
    position: absolute;
    inset: auto 0% -23% auto;
    overflow: hidden;
}

.floating-img1, .floating-img2 {
    width: 275px;
    height: 275px;
}

.floating-img1 > img, .floating-img2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.floating-img1 > img {
    transform: translateY(170px);
}

.menu {
    width: 100%;
    background: var(--bg-colour);
    padding-block: 60px 8px;
    margin-bottom: var(--lg-mb);
    overflow: hidden;
}

.menu-1-wrapper {
    margin-bottom: 0;
}

.menu-overlay-img-container {
    width: 100%;
    position: relative;
}

.menu-img_overlay {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 2;
}

.overlay-left {
    top: 0px;
    left: 0;
}

.menu-img_overlay > img {
    max-width: 465px;
    width: 100%;
    object-fit: cover;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding-inline: var(--lg-p);
    max-width: var(--lg-max-w);
    max-width: var(--lg-max-w);
    margin-inline: auto;
}

.menu-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.menu-title > h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
}

.subtitle {
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-left: 1px solid black;
    gap: 10px;
    margin-bottom: 8px;
}

.subtitle > h4 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--sub-title-colour);
}

.menu-lists-w-img {
    display: flex;
    padding-block: 80px;
    column-gap: 80px;
    width: 100%;
    position: relative;
    
}

.menu-items {
    display: flex; 
    flex-direction: column;
    row-gap: 35px;
    width: 100%;
    max-width: 56%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-item > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    font-size: 18px;
    transition: all cubic-bezier(0.45, 0, 0.96, 0.80) 250ms;
}

.menu-item > div p {
    font-size: 18px;
    line-height: 1.7;
}

.menu-item:hover div {
    border-bottom: 1px solid rgba(90, 90, 90, 1);
}

.item-ingredients {
    font-size: 14px;
    line-height: 1.5;
    color: var(--sub-title-colour);
}

.menu-img {
    display: flex;
    width: 100%;
    max-width: 44%;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.menu-img > img {
    width: 95%;
    object-fit: cover;
}

.menu-lists-bot {
    flex-direction: row-reverse;
    padding-block: 60px 0 !important;
}

.overlay-left {
    width: 100%;
    position: absolute;
    top: -42px;
    left: -150px;
    z-index: -2;
}

.menu-img_overlay_bot > img {
    width: 80%;
    object-fit: cover;
}

.features {
    width: 100%;
}

.features-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 32px;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}

.feature > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.feature h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 10px;
}

.feature p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.booking {
    width: 100%;
}

.booking-wrapper {
    display: flex;
    width: 100%;
    background: var(--bg-colour);
    position: relative;
}

.booking-left {
    width: 100%;
    max-width: 40%;
    overflow: hidden;
}

.booking-left > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.booking-right {
    width: 100%;
    max-width: 60%;
    overflow: hidden;
}

.booking-right > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.booking-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 42%;
    padding: 60px;
    background: var(--primary-colour);
    color: white;
    position: absolute;
    inset: 60px auto 60px 60px;
    
}

.booking-box-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 40px 50px;
}

.booking-box-top > div {
    width: 22px;
    height: 22px;
}

.booking-box-top > p {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-inline: 8px;
}

.booking-box-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.booking-box-mid > h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.booking-box-mid > p {
    line-height: 1.7;
    color: var(--muted-font);
}

.booking-box-button {
    color: black !important;
    background: white !important;
    margin-bottom: 40px;
}

.our-blogs {
    width: 100%;
}

.our-blogs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.our-blogs-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.our-blogs-title > h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
}

.our-blogs_cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 24px;
}

.our-blogs-lists {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.card_img-container {
    width: 100%;
    min-height: 420px;
    max-height: 420px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.card_img-container > img {
    width: 100%;
    min-height: 420px;
    max-height: 420px;
    object-fit: cover;
    transition: all linear 350ms;
}

.our-blogs-lists:hover .card_img-container > img {
    scale: 1.03;
}

.card_text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.card-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.card-context {
    line-height: 1.7;
    margin-bottom: 18px;
}

.card-info {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-size: 14px;
    line-height: 1.7;
    text-transform: uppercase;
}

.divider {
    width: 10px;
    height: 1px;
    background: rgba(90, 90, 90, 0.2);
}

.our-blogs-button-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
}

.testimonials {
    width: 100%;
    background: var(--bg-colour);
}

.testimonials-wrapper {
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.testimonials-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.testimonials-title > h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
}

#review {
    font-size: 26px;
    line-height: 1.7;
    margin-top: 14px;
    transition: opacity .4s ease, transform .4s ease;
    opacity: 1;
    transform: translateY(0);
}

#review.changing {
    opacity: 0;
    transform: translateY(12px);
}

.reviewer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    width: 100%;
    max-width: 50%;
    min-height: 262px;
    margin-top: 60px;
    margin-left: auto;
}

.reviewer {
    cursor: pointer;
    transition: all 0.4s ease;
    gap: 10px;
}

.reviewer-wrapper img {
    object-fit: cover;
    width: 100%;
    min-height: 202px;
    max-height: 202px;
    transition: all 0.4s ease;
    filter: grayscale(100%);
    opacity: 1;
}

.reviewer-info {
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease;
    line-height: 1.5;
    padding-top: 10px;
}

.reviewer-address {
    font-size: 14px;
}

.reviewer.active img {
    filter: grayscale(0%);
    opacity: 1;
}

.reviewer.active .reviewer-info {
    opacity: 1;
}

.occasion {
    width: 100%;
}

.occasion-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    column-gap: 24px;
}

.occasion-img {
    width: 100%;
    max-width: 30%;
}

.occasion-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.occasion_mid-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 30px;
    width: 100%;
    max-width: 40%;
    row-gap: 105px;
    background: var(--primary-colour);
}

.occasion-block-top {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.occasion-top {
    color: white;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.occasion-top > h4 {
    color: white;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5 !important;
    margin-bottom: 10px;
}

.occasion-top p, .occasion-block-bot p {
    color: var(--muted-font);
}

.occasion-button {
    padding: 0 !important;
    justify-content: start;
}

.occasion-block-bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 30px;
    border-top: 1px solid rgba(169, 169, 169, 0.2);
    color: white; 
    line-height: 1.7;
}

.occasion-block-bot > h4 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2 !important;
    margin-bottom: 15px;
}

.reservation {
    width: 100%;
    background: var(--bg-colour);
    padding-block: 60px 8px;
    margin-bottom: var(--lg-mb);
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/67a0b31e8fd864365b5261b9_menu-bg.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.reservation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: var(--lg-max-w);
    margin-inline: auto;
}

.reservation-form-w-img {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 80px;
    width: 100%;
    position: relative;
}

.reservation-left {
    display: flex;
    flex-direction: column;
    row-gap: 68px;
    width: 100%;
    max-width: 56%;
}

.form-top-context {
    line-height: 1.7;
    font-weight: 400;
}

.form-top-context > h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5 !important;
    margin-bottom: 10px;
}

.reservation-form-container {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
}

.form-wrapper input {
    outline: none;
    border: 1px solid rgba(90, 90, 90, 0.2);
}

.fill-name {
    width: 100%;
    height: 47px;
}

.fill-name > input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679db2414c634292220252b7_ic-name.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
}

.fill-name > input::placeholder {
    color: black;
}

.fill-name > input:focus {
    outline: 1px black solid;
}

.form-second-row-wrapper {
    display: flex;
    column-gap: 24px;
    width: 100%;
}

.fill-email {
    width: 50%;
    height: 47px;
}

.fill-email > input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679db24105a4d2c8c9bb4445_ic-email.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
}

.fill-email > input::placeholder {
    color: black;
}

.fill-email > input:focus {
    outline: 1px black solid;
}

.fill-ph-no {
    width: 50%;
    height: 47px;
}

.fill-ph-no > input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679db2413655dbb3f71ae57d_ic-phone.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
}

.fill-ph-no > input::placeholder {
    color: black;
}

.fill-ph-no > input:focus {
    outline: 1px black solid;
}

.form-third-row-wrapper {
    display: flex;
    column-gap: 24px;
    width: 100%;
}

.fill-date {
    width: 50%;
    height: 47px;
}

.fill-date > input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679ddbc80f65b043f43d57f7_ic-calendar.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
}

.fill-date > input::placeholder {
    color: black;
}

.fill-date > input:focus {
    outline: 1px black solid;
}

.fill-time {
    width: 50%;
    height: 47px;
}

.fill-time > input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679ddbc8c1e7aebbe8d0875d_ic-clock.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
}

.fill-time > input::placeholder {
    color: black;
}

.fill-time > input:focus {
    outline: 1px black solid;
}

.fill-special-requests {
    width: 100%;
    height: 267px;
}

.fill-special-requests > textarea {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679db24140e2c813823caf31_ic-message.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
    outline: none;
}

.fill-special-requests > textarea::placeholder {
    color: black;
}

.fill-special-requests > textarea:focus {
    outline: 1px black solid;
}

.reservation-button {
    margin-top: 40px;
    padding-block: 12px;
    border: 1px solid transparent;
    transition: all 250ms linear;
}

.reservation-button:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}

.reservation-img {
    display: flex;
    width: 100%;
    max-width: 44%;
    position: relative;
    z-index: 10;
}

.reservation-img > img {
    width: 100%;
    object-fit: cover;
}

.faq {
    width: 100%;
}

.faq-wrapper {
    display: flex;
    flex-direction: column;
}

.faq-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.faq-title > h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
}

.faq-bot {
    display: flex;
    column-gap: 40px;
}

.faq-img {
    width: 100%;
    max-width: 38%;
}

.faq-img > img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.faq-right {
    width: 100%;
    max-width: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-q-and-a {
    width: 100%;
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    padding-bottom: 25px;
}

.faq-2, .faq-3, .faq-4, .faq-5 {
    padding-block: 25px;
}

.faq-q {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-q > h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
}

.plus-and-minus {
    position: relative;
    width: 17px;
    height: 17px;
    display: flex;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.stick {
    width: 100%;
    height: 1px;
    background: black;
    transform-origin: center;
    transition: all 450ms cubic-bezier(.22, 1, .36, 1);
}

.stick-ver {
    transform: rotate(-90deg);
    position: absolute;
    z-index: 2;
}

.faq-a {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    margin-top: 0;
    line-height: 1.7;
    transition: grid-template-rows 500ms cubic-bezier(.22, 1, .36, 1), opacity 350ms ease, margin-top 500ms cubic-bezier(.22, 1, .36, 1);
}

.faq-a-inner {
    overflow: hidden;
}

.faq-a > p {
    padding-top: 25px;
    font-size: 16px;
    line-height: 1.7;
    transform: translateY(-18px);
    transition: transform 500ms cubic-bezier(.22, 1, .36, 1), opacity 400ms ease;
    opacity: 0;
}

.faq-q-and-a.active .faq-a {
    grid-template-rows: 1fr;
    opacity: 1;
    margin-top: 10px;
}

.faq-q-and-a.active .faq-a p {
    transform: translateY(0);
    opacity: 1;
}

.faq-q-and-a.active .stick-ver {
    transform: rotate(0deg);
}

.instagram {
    width: 100%;
}

.instagram-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.instagram-username {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.instagram-username > p {
    font-size: 18px;
    font-weight: 500;
}

.instagram-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    max-height: 300px;
}

.instagram-images {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.instagram-images > img {
    vertical-align: middle;
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    transition: all linear 350ms;
}

.instagram-images:hover > img {
    scale: 1.03;
}

.footer {
    width: 100%;
    background: black;
    color: white;
}

.footer_spacing {
    margin-bottom: 0 !important;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-block: 70px 20px;
}

.footer-top {
    display: flex;
    flex-direction: column;
}

.contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.5);
}

.contact-us-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 34%;
}

.contact-us-text > h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.contact-us-text > p {
    color: var(--muted-colour);
    line-height: 1.7;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 60px;
}

.footer-nav-items-container {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.footer-nav-items-container > .nav-items {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.footer-nav-items-container > a {
    padding: 0;
}

.social-media-acc {
    display: flex;
    column-gap: 6px;
}

.social-media-acc > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba(90, 90, 90, 0.5);
    color: white;
    transition: all 230ms linear;
}

.social-media-acc > a:hover {
    background: var(--primary-colour);
}

.footer-info {
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 50px;
}

.footer-info-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 6px;
}

.footer-info-item > p {
    margin-bottom: 6px;
}

.footer-info-item > div {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.footer-info-item > div > a {
    padding-block: 2px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--muted-colour);
    transition: all 230ms linear;
    cursor: pointer;
}

.footer-info-item > div > a:hover {
    color: white;
}

.footer-address {
    width: 225px !important;
}

.footer-address > div > p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--muted-colour);
}

.footer-bot {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    color: var(--muted-colour);
    column-gap: 10px;
}

.footer-bot-divider {
    width: 10px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 991px){
    .mobile-nav{
        display: none;
    }
}

@media (max-width: 1262px) {
    .sec_below-floating-img {
        display: none;
    }
}

@media (max-width: 1170px){
    .booking-box {
        padding: 50px;
    }

    .booking-box-top {
        margin-block: 10px 20px;
    }
    .booking-box-top p {
        font-size: 12px;
        margin-inline: 6px;
    }

    .booking-box-mid {
        margin-bottom: 20px;
    }

    .booking-box-mid > h4 {
        font-size: 26px;
        margin-bottom: 8px;
    }

    .booking-box-mid > p {
        font-size: 14px;
    }
}

@media (max-width: 991px){
    .section-spacings {
        margin-bottom: var(--md-mb);
    }

    .feast-card{
        display: none;
    }

    .desktop-nav-items {
        display: none;
    }

    .hero-left {
        display: flex;
        flex-direction: column;
        row-gap: 0;
        margin-top: auto;
    }

    .hero-title {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .hero-text {
        font-size: 14px;
        line-height: 1.5;
    }

    .context-bot {
        display: none;
    }

    .sec_below-hero-wrapper {
        column-gap: 40px;
    }

    .sec_below-left > p {
        font-size: 14px;
        line-height: 1.5;
    }

    .sec_below-right > div > h2 {
        font-size: 24px;
    }

    .sec_below-right > div > p {
        font-size: 14px;
        line-height: 1.5;
    }

    .menu {
        margin-bottom: var(--md-mb);
    }

    .menu-img_overlay {
        top: 60px;
        right: -180px;
        z-index: 2;
    } 

    .menu-img_overlay > img {
        max-width: 400px;
    }

    .menu-title > h2 {
        font-size: 32px;
    }

    .menu-lists-w-img {
        padding-block: 40px;
        column-gap: 40px;
    }

    .menu-items {
        row-gap: 30px;
    }

    .menu-item > div {
        font-size: 16px;
    }

    .menu-item-name {
        font-size: 16px !important;
    }

    .menu-item > div p {
        font-size: 14px;
    }

    .overlay-left {
        top: 0;
        left: -180px;
    }

    .features-wrapper {
        grid-column-gap: 30px;
        grid-row-gap: 60px;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }  

    .booking-wrapper {
        height: 400px;
    }
    
    .booking-box {
        padding: 30px;
        max-width: 54%;
        inset: 0;
        top: 40px;
        bottom: 40px;
        left: 40px;
    }

    .booking-box-top {
        margin-bottom: 20px;
    }

    .booking-box-top > p {
        font-size: 14px;
    }

    .booking-box-button {
        margin: 0;
    }

    .our-blogs-title > h2 {
        font-size: 32px;
    }

    .our-blogs_cards {
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 40px;
    }

    .card-title {
        font-size: 16px;
        font-weight: 500;
    }

    .card-context {
        font-size: 14px;
        line-height: 1.5;
    }

    .testimonials-wrapper {
        padding-block: 60px; 
    }

    .testimonials-title {
        margin-bottom: 20px;
    }   

    .testimonials-title > h2 {
        font-size: 32px;
    }

    #review {
        font-size: 24px;
        line-height: 1.7;
        margin-top: 0;
    }

    .reviewer-wrapper {
        max-width: 90%;
        margin-top: 40px;
        margin-inline: auto;
    }

    .occasion-wrapper {
        column-gap: 28px;
    }

    .occasion-img {
        max-width: 50%;
    }

    .occasion_mid-block {
        max-width: 50%;
        padding: 25px;
    }

    .occasion-block-top {
        row-gap: 30px;
    }

    .occasion-top > h4 {
        font-size: 26px;
    }

    .occasion-top p, .occasion-block-bot p {
        font-size: 14px;
        line-height: 1.5;
    }

    .occasion-block-bot > h4 {
        font-size: 28px;
    }

    .occasion_right {
        display: none;
    }

    .reservation {
        background-image: none;
        padding-block: 50px 8px;
        margin-bottom: var(--md-mb);
    }

    .reservation_spacing {
        margin-bottom: 40px;
    }

    .reservation-form-w-img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }

    .reservation-left {
        max-width: none;
        row-gap: 40px;
    }

    .form-top-context > h4 {
        font-size: 26px;
    }

    .reservation-img {
        max-width: none;
        min-height: 600px;
        max-height: 600px;
    }

    .faq-title > h2 {
        font-size: 34px;
    }

    .faq-bot {
        flex-direction: column;
        row-gap: 30px;
    }

    .faq-img {
        max-width: none;
    }

    .faq-right {
        max-width: none;
    }

    .faq-q-and-a {
        padding-bottom: 20px;
    }

    .faq-2, .faq-3, .faq-4, .faq-5 {
        padding-block: 20px;
    }

    .instagram-gallery {
        max-height: none;
        min-height: 160px;
    }

    .instagram-images > img {
        min-height: 160px;
    }

    .contact-us {
        align-items: start;
        flex-direction: column;
        row-gap: 20px;
    }

    .contact-us-text {
        max-width: 56%;
    }

    .footer-nav {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .section-spacings {
        margin-bottom: var(--sm-mb);
    }

    .hero {
        background-image: none;
    }

    .hero-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .hero-left {
        max-width: none;
        text-align: center;
        padding-block: 30px 35px;
        row-gap: 0;
    }

    .context-top {
        align-items: center;
        row-gap: 30px;
    }

    .hero-right {
        max-width: none;
    }

    .sec_below-hero-wrapper {
        column-gap: 30px;
    }

    .sec_below-left {
        max-width: 40%;
    }
    .sec_below-right {
        max-width: 60%;
    }

    .sec_below-right > div > h2 {
        font-size: 20px;
    }

    .menu {
        margin-bottom: var(--md-mb);
        padding-block: 35px 8px;
    }

    .menu-1 {
        display: flex;
        flex-direction: column;
    }
    .menu-1-wrapper {
        margin-bottom: 0;
    } 

    .menu-overlay-img-container {
        display: none;
    }

    .menu-title {
        margin-bottom: 0;
    }

    .menu-title > h2 {
        font-size: 30px;
    }

    .menu-lists-w-img {
        flex-direction: column-reverse;
        padding-block: 20px;
        row-gap: 20px;
    }

    .menu-items {
        max-width: none;
    }

    .menu-img {
        max-width: none;
    }

    .menu-img > img {
        width: 100%;
    }

    .menu-lists-bot {
        padding-block: 20px !important;
    }

    .feature h4 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .booking-wrapper {
        flex-direction: column;
        height: auto;
    }

    .booking-left {
        display: none;
    }

    .booking-right {
        max-width: none;
    }

    .booking-right > img {
        display: block;
        min-height: auto;
        max-height: none;
    }

    .booking-box {
        max-width: none;
        position: inherit;
        inset: 0;
        padding: 40px 30px;
    }

    .our-blogs-title > h2 {
        font-size: 30px;
    }

    .card_img-container {
        min-height: 255px;
        max-height: 255px;
    }

    .card_img-container > img {
        min-height: 255px;
        max-height: 255px;
    }

    .testimonials-title > h2 {
        font-size: 30px;
    }

    #review {
        font-size: 20px;
    }

    .reviewer-wrapper {
        max-width: none;
        margin-inline: 0;
        min-height: 170px;
    }

    .reviewer-wrapper img {
        min-height: 170px;
        max-height: 170px;
    }

    .occasion-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .occasion-img {
        max-width: none;
    }

    .occasion-img > img {
        min-height: 360px;
        max-height: 360px;
    }

    .occasion_mid-block {
        max-width: none;
        row-gap: 40px;
    }

    .reservation {
        margin-bottom: var(--sm-mb);
    }

    .reservation_spacing {
        margin-bottom: 40px !important;
    }

    .form-top-context > h4 {
        font-size: 22px;
    }

    .faq-title > h2 {
        font-size: 32px;
    }

    .faq-q > h4 {
        font-size: 16px;
    }

    .faq-a p {
        font-size: 14px;
    }

    .instagram-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-wrapper {
        padding-block: 50px 20px;
    }

    .contact-us-text {
        max-width: 80%;
    }

    .footer-nav {
        align-items: start;
        flex-direction: column;
        row-gap: 20px;
    }

}

@media (max-width: 479px) {

    .section-spacings {
        margin-bottom: var(--vsm-mb);
    }

    .sec_below-hero-wrapper {
        flex-direction: column;
        row-gap: 16px;
    }

    .sec_below-left {
        max-width: none;
    }

    .sec_below-right {
        max-width: none;
    }

    .menu {
        margin-bottom: var(--vsm-mb);
    }

    .menu-1-wrapper {
        margin-bottom: 0 !important;
    }

    .menu-title > h2 {
        font-size: 26px;
    }

    .menu-items {
        grid-row-gap: 25px;
    }

    .menu-item-name {
        font-size: 14px !important;
        font-weight: 500;
    }

    .menu-item > div p {
        font-size: 12px;
    }

    .item-ingredients {
        font-size: 12px;
    }

    .menu-2-wrapper {
        margin-bottom: 10px !important;
    }

    .features-wrapper {
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
    }

    .feature {
        row-gap: 10px;
    }

    .feature > img {
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
    }

    .feature h4 {
        margin-bottom: 2px;
    }

    .booking-box {
        padding: 30px 20px;
    }

    .booking-box-top {
        margin-block: 0 20px;
    }

    .booking-box-top > p {
        font-size: 12px;
    }

    .booking-box-mid > h4 {
        font-size: 20px;
    }

    .our-blogs-title > h2 {
        font-size: 26px;
    }

    .our-blogs_cards {
        grid-template-columns: 1fr;
    }

    .card_img-container {
        min-height: fit-content;
        max-height: fit-content;
    }

    .card_img-container > img {
        min-height: 340px;
        max-height: 340px;
    }

    .testimonials-wrapper {
        padding-block: 40px;
    }

    .testimonials-title > h2 {
        font-size: 26px;
    }

    #review {
        font-size: 16px;
    }

    .reviewer-wrapper {
        column-gap: 5px;
        min-height: 148px;
    }

    .reviewer-wrapper img {
        min-height: 106px;
        max-height: 106px;
    }

    .reviewer-name {
        font-size: 12px;
    }

    .reviewer-address {
        font-size: 10px;
    }

    .occasion_mid-block {
                grid-row-gap: 20px;
        padding: 20px;
    }
    
    .occasion-top > h4 {
        font-size: 22px;
    }

    .occasion-block-bot > h4  {
        font-size: 24px;
    }
    .reservation {
        margin-bottom: var(--vsm-mb);
    }

    .reservation_spacing {
        margin-bottom: 20px !important;
    }

    .form-top-context > h4 {
        font-size: 20px;
    }

    .form-top-context > p {
        font-size: 14px;
    }

    .form-wrapper {
        row-gap: 20px;
    }

    .form-second-row-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .fill-email {
        width: 100%;
    }
    .fill-ph-no {
        width: 100%;
    }

    .form-third-row-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .fill-date {
        width: 100%;
    }
    .fill-time {
        width: 100%;
    }

    .fill-special-requests {
        height: 160px
    }

    .reservation-button {
        margin-top: 20px
    }

    .faq-title > h2 {
        font-size: 26px;
    }

    .faq-q {
        grid-column-gap: 15px;
    }

    .instagram-gallery {
        grid-template-columns: 1fr 1fr;
    }

    .contact-us-text > h4 {
        font-size: 18px;
    }

    .contact-us-text > p {
        font-size: 14px;
    }

    .footer-wrapper {
        row-gap: 40px;
    }

    .footer-nav-items-container {
        flex-wrap: wrap;
        row-gap: 12px;
    }

    .footer-info {
        grid-column-gap: 80px;
        grid-row-gap: 20px;
        flex-flow: wrap;
    }

    .footer-bot {
        font-size: 12px;
    }
}

