:root {
    --bg-colour: #efefe3;
    --body-bg-colour: #fbf8f3;
    --primary-colour: #264a4a;
    --sub-title-colour: #333333;
    --muted-colour: #999999;
    --muted-font: #a8b7b7;
    --font: "Instrument Sans";
    --border-bot: 1px solid rgba(90, 90, 90, 0.2);
    --lg-p: 20px;
    --lg-mb: 150px;
    --md-mb: 100px;
    --sm-mb: 80px;
    --vsm-mb: 60px;
    --lg-max-w: 1336px;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}

.section-spacings {
    width: 100%;
    max-width: var(--lg-max-w);
    padding-inline: var(--lg-p);
    margin-inline: auto;
    margin-bottom: var(--lg-mb);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    column-gap: 5px;
    background: var(--primary-colour);
    color: white;
    font-size: 14px;
    max-height: 45px;
    position: relative;
    z-index: 0;
}

.button-icon,
.arrow-icon {
    height: 24px;
}

.subtitle {
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-left: 1px solid black;
    gap: 10px;
    margin-bottom: 8px;
}

.subtitle>h4 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--sub-title-colour);
}

.navbar {
    width: 100%;
    background: var(--body-bg-colour);
    position: relative;
    border-bottom: var(--border-bot);
}

.navbar_spacing {
    padding-inline: var(--lg-p);
    width: 100%;
    max-width: var(--lg-max-w);
    max-width: var(--lg-max-w);
    margin-inline: auto;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    width: 100%;
}

.navbar-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    column-gap: 30px;
}

.nav-items-container {
    display: flex;
    align-items: center;
}

.nav-items {
    margin-inline: 10px;
    padding-inline: 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.navbar-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.ham_menu {
    width: 28px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.ham-stick {
    width: 100%;
    height: 1px;
    background: black;
    transition: all linear 200ms;
}

.feast-card {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--primary-colour);
    padding: 30px;
    transform: translateX(100%);
    transition: transform 600ms cubic-bezier(.22, 1, .36, 1);
    z-index: 999;
}

.feast-card.active {
    transform: translateX(0);
}

.card-return-x-wrapper {
    display: flex;
    justify-content: end;
}

.card-return-x {
    position: relative;
    z-index: 998;
    width: 20px;
    height: 20px;
    display: flex;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transform: rotate(45deg);
    margin-right: 60px;
    margin-bottom: 90px;
}

.card-return-stick {
    width: 100%;
    height: 1px;
    background: white;
    transform-origin: center;
    transition: all 450ms cubic-bezier(.22, 1, .36, 1);
}

.card-stick-1 {
    transform: rotate(-90deg);
    position: absolute;
    z-index: 2;
}

.ham_menu.active .card-stick-1 {
    transform: rotate(45deg);
}

.ham_menu.active .card-stick-2 {
    transform: rotate(-45deg);
}

.feast-card-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 380px;
}

.feast-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 362px;
    text-align: center;
    color: var(--muted-font);
    line-height: 1.7;
}

.feast-card-info {
    display: flex;
    flex-direction: column;
}

.feast-card-info>p,
span {
    font-size: 16px;
    text-transform: none;
}

.feast-card-info>.info-1 {
    width: 262px;
    margin-block: 40px 10px;
}

.feast-card-info>.info-3,
.info-4 {
    margin-top: 10px;
}

.feast-card-info>.info-3>span,
.info-4>span {
    color: white;
}

.social-media-acc {
    display: flex;
    column-gap: 6px;
}

.social-media-acc>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba(90, 90, 90, 0.5);
    color: white;
    transition: all 230ms linear;
}

.card-social-media-acc>a:hover {
    border: 1px solid white;
}

.mobile-nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--body-bg-colour);
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity .7s cubic-bezier(0.22, 1, 0.36, 1);
}

.mobile-nav-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

.mobile-nav-items {
    flex-direction: column;
    row-gap: 20px;
}

.mobile-nav a {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 400ms ease, transform 500ms cubic-bezier(.22, 1, .36, 1);
}

.mobile-nav.active {
    max-height: 250px;
    opacity: 1;
    transition: opacity 700ms cubic-bezier(.22, 1, .36, 1);
    z-index: 1000;
}

.mobile-nav.active a {
    opacity: 1;
    transform: translateY(0);
}

.mobile-nav.active a:nth-child(1) {
    transition-delay: 5ms;
}

.mobile-nav.active a:nth-child(2) {
    transition-delay: 10ms;
}

.mobile-nav.active a:nth-child(3) {
    transition-delay: 15ms;
}

.mobile-nav.active a:nth-child(4) {
    transition-delay: 20ms;
}

.mobile-nav.active a:nth-child(5) {
    transition-delay: 25ms;
}

.navbar-ham_menu.active>.ham_menu>.ham-top {
    transform: translate(0px, 7px) rotate(-45deg);
}

.navbar-ham_menu.active>.ham_menu>.ham-mid {
    opacity: 0;
}

.navbar-ham_menu.active>.ham_menu>.ham-bot {
    transform: translate(0px, -7px) rotate(45deg);
}

.animation-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.animation-1 {
    position: relative;
}

.animation-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.animation-wrapper.animating .animation-1,
.animation-wrapper.animating .animation-2 {
    transition: transform 500ms cubic-bezier(.22, 1, .36, 1);
}

.animation-wrapper.state-1 .animation-1 {
    transform: translateY(0);
}

.animation-wrapper.state-1 .animation-2 {
    transform: translateY(100%);
}

.animation-wrapper.state-1.is-hovered .animation-1 {
    transform: translateY(-100%);
}

.animation-wrapper.state-1.is-hovered .animation-2 {
    transform: translateY(0);
}

.animation-wrapper.state-2 .animation-1 {
    transform: translateY(100%);
}

.animation-wrapper.state-2 .animation-2 {
    transform: translateY(0);
}

.animation-wrapper.state-2.is-hovered .animation-1 {
    transform: translateY(0);
}

.animation-wrapper.state-2.is-hovered .animation-2 {
    transform: translateY(-100%);
}

.title_spacing {
    margin-bottom: 0;
}

.reservation-title {
    padding-block: 54px 60px;
}

.reservation-title>h2 {
    line-height: 1.3;
    font-size: 48px;
    font-weight: 400;
}

.reservation {
    width: 100%;
}

.reservation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 60px;
}

.reservation-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 44px 35px;
    justify-content: center;
    align-items: stretch;
    background: var(--bg-colour);
}

.reservation-form-container {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
}

.form-wrapper input {
    outline: none;
    border: 1px solid rgba(90, 90, 90, 0.2);
}

.fill-name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 47px;
}

.fill-name>input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679db2414c634292220252b7_ic-name.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 14px;
    color: var(--sub-title-colour);
}

.fill-name>input::placeholder {
    color: black;
}

.fill-name>input:focus {
    outline: 1px black solid;
}

.form-second-row-wrapper {
    display: flex;
    column-gap: 24px;
    width: 100%;
}

.fill-email {
    width: 50%;
    height: 47px;
}

.fill-email>input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679db24105a4d2c8c9bb4445_ic-email.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 14px;
    color: var(--sub-title-colour);
}

.fill-email>input::placeholder {
    color: black;
}

.fill-email>input:focus {
    outline: 1px black solid;
}

.fill-ph-no {
    width: 50%;
    height: 47px;
}

.fill-ph-no>input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679db2413655dbb3f71ae57d_ic-phone.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 14px;
    color: var(--sub-title-colour);
}

.fill-ph-no>input::placeholder {
    color: black;
}

.fill-ph-no>input:focus {
    outline: 1px black solid;
}

.form-third-row-wrapper {
    display: flex;
    column-gap: 24px;
    width: 100%;
}

.fill-date {
    width: 50%;
    height: 47px;
}

.fill-date>input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679ddbc80f65b043f43d57f7_ic-calendar.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 14px;
    color: var(--sub-title-colour);
}

.fill-date>input::placeholder {
    color: black;
}

.fill-date>input:focus {
    outline: 1px black solid;
}

.fill-time {
    width: 50%;
    height: 47px;
}

.fill-time>input {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679ddbc8c1e7aebbe8d0875d_ic-clock.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 14px;
    color: var(--sub-title-colour);
}

.fill-time>input::placeholder {
    color: black;
}

.fill-time>input:focus {
    outline: 1px black solid;
}

.fill-special-requests {
    width: 100%;
    height: 160px;
}

.fill-special-requests>textarea {
    width: 100%;
    height: 100%;
    padding-block: 12px;
    padding-inline: 48px 12px;
    background-color: white;
    background-image: url("https://cdn.prod.website-files.com/679ca96421c6cb8a7f9032a7/679db24140e2c813823caf31_ic-message.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: auto;
    outline: none;
    font-size: 14px;
    color: var(--sub-title-colour);
}

.fill-special-requests>textarea::placeholder {
    color: black;
}

.fill-special-requests>textarea:focus {
    outline: 1px black solid;
}

.reservation-button {
    margin-top: 40px;
    padding-block: 12px;
    border: 1px solid transparent;
    transition: all 250ms linear;
}

.reservation-button:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}

.reservation-right {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.reservation-right-top {
    line-height: 1.7;
}

.reservation-right-top h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.reservation-right-top p {
    color: var(--sub-title-colour);
}

.reservation-right-mid {
    display: block;
    max-height: 308px;
    min-height: 308px;
}

.reservation-right-mid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reservation-right-bot {
    display: flex;
    column-gap: 30px;
}

.reservation-right-bot h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.reservation-right-bot p {
    line-height: 1.7;
}

.reservation-address p {
    color: var(--sub-title-colour);
    max-width: 280px;
}

.reservation-opening-hr p {
    color: var(--sub-title-colour);
}

.reservation-divider {
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 26, .1);
}

.facts {
    width: 100%;
}

.facts-wrapper {
    display: flex;
    column-gap: 20px;
}

.facts-left {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding: 34px;
    background: var(--primary-colour);
    color: white;
    width: 100%;
    max-width: 42%;
}

.stats-subtitle {
    border-color: white;
}

.stats-subtitle h4 {
    color: white;
}

.stats-context h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.stats-context p {
    line-height: 1.7;
    color: var(--muted-font);
}

.facts-right {
    display: flex;
    column-gap: 20px;
    width: 100%;
    max-width: 58%;
}

.right-block-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 36px;
    row-gap: 120px;
    background: var(--bg-colour);
}

.block-top {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.text-container {
    color: var(--sub-title-colour);
    line-height: 1.7;
    display: flex;
    flex-direction: column;
}

.text-container h4 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1;
}

.block-bot-context {
    color: var(--sub-title-colour);
    line-height: 1.7;
}

.faq {
    width: 100%;
}

.faq-wrapper {
    display: flex;
    flex-direction: column;
}

.faq-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.faq-title>h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
}

.faq-bot {
    display: flex;
    column-gap: 40px;
}

.faq-img {
    width: 100%;
    max-width: 38%;
}

.faq-img>img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.faq-right {
    width: 100%;
    max-width: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-q-and-a {
    width: 100%;
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    padding-bottom: 25px;
}

.faq-2,
.faq-3,
.faq-4,
.faq-5 {
    padding-block: 25px;
}

.faq-q {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-q>h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
}

.plus-and-minus {
    position: relative;
    width: 17px;
    height: 17px;
    display: flex;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.stick {
    width: 100%;
    height: 1px;
    background: black;
    transform-origin: center;
    transition: all 450ms cubic-bezier(.22, 1, .36, 1);
}

.stick-ver {
    transform: rotate(-90deg);
    position: absolute;
    z-index: 2;
}

.faq-a {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    margin-top: 0;
    line-height: 1.7;
    transition: grid-template-rows 500ms cubic-bezier(.22, 1, .36, 1), opacity 350ms ease, margin-top 500ms cubic-bezier(.22, 1, .36, 1);
}

.faq-a-inner {
    overflow: hidden;
}

.faq-a>p {
    padding-top: 25px;
    font-size: 16px;
    line-height: 1.7;
    transform: translateY(-18px);
    transition: transform 500ms cubic-bezier(.22, 1, .36, 1), opacity 400ms ease;
    opacity: 0;
}

.faq-q-and-a.active .faq-a {
    grid-template-rows: 1fr;
    opacity: 1;
    margin-top: 10px;
}

.faq-q-and-a.active .faq-a p {
    transform: translateY(0);
    opacity: 1;
}

.faq-q-and-a.active .stick-ver {
    transform: rotate(0deg);
}

.footer {
    width: 100%;
    background: black;
    color: white;
}

.footer_spacing {
    margin-bottom: 0 !important;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-block: 70px 20px;
}

.footer-top {
    display: flex;
    flex-direction: column;
}

.contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.5);
}

.contact-us-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 34%;
}

.contact-us-text>h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.contact-us-text>p {
    color: var(--muted-colour);
    line-height: 1.7;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 60px;
}

.footer-nav-items-container {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.footer-nav-items-container>.nav-items {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.footer-nav-items-container>a {
    padding: 0;
}

.social-media-acc {
    display: flex;
    column-gap: 6px;
}

.social-media-acc>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba(90, 90, 90, 0.5);
    color: white;
    transition: all 230ms linear;
}

.social-media-acc>a:hover {
    background: var(--primary-colour);
}

.footer-info {
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 50px;
}

.footer-info-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 6px;
}

.footer-info-item>p {
    margin-bottom: 6px;
}

.footer-info-item>div {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.footer-info-item>div>a {
    padding-block: 2px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--muted-colour);
    transition: all 230ms linear;
    cursor: pointer;
}

.footer-info-item>div>a:hover {
    color: white;
}

.footer-address {
    width: 225px !important;
}

.footer-address>div>p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--muted-colour);
}

.footer-bot {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    color: var(--muted-colour);
    column-gap: 10px;
}

.footer-bot-divider {
    width: 10px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 991px) {
    .mobile-nav {
        display: none;
    }
}

@media (max-width: 991px) {
    .section-spacings {
        margin-bottom: var(--md-mb);
    }

    .feast-card {
        display: none;
    }

    .desktop-nav-items {
        display: none;
    }

    .title_spacing {
        margin-bottom: 0;
    }

    .reservation-title {
        padding-block: 40px;
    }

    .reservation-title > h2 {
        font-size: 44px;
    }

    .reservation-wrapper {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .reservation-right-top h4 {
        font-size: 26px;
    }

    .reservation-right-mid {
        min-height: auto;
        max-height: none;
    }

    .facts-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .facts-left {
        max-width: none;
        padding: 30px;
        row-gap: 40px;
    }

    .stats-context h4 {
        font-size: 24px;
    }

    .facts-right {
        max-width: none;
    }

    .right-block-wrapper {
        padding: 30px;
        row-gap: 60px;
    }

    .block-top img {
        min-height: 60px;
        max-height: 60px;
    }

    .text-container h4 {
        font-size: 36px;
    }

    .faq-title>h2 {
        font-size: 34px;
    }

    .faq-bot {
        flex-direction: column;
        row-gap: 30px;
    }

    .faq-img {
        max-width: none;
    }

    .faq-right {
        max-width: none;
    }

    .faq-q-and-a {
        padding-bottom: 20px;
    }

    .faq-2,
    .faq-3,
    .faq-4,
    .faq-5 {
        padding-block: 20px;
    }

    .footer-wrapper {
        padding-block: 50px 20px;
        row-gap: 40px;
    }

    .contact-us {
        align-items: start;
        flex-direction: column;
        row-gap: 20px;
    }

    .contact-us-text {
        max-width: 60%;
    }

    .footer-nav {
        margin-bottom: 40px;
    }

    .footer-info-item {
        row-gap: 4px;
    }
}   

@media (max-width: 767px) {
    .section-spacings {
        margin-bottom: var(--sm-mb);
    }

    .title_spacing {
        margin-bottom: 0;
    }

    .reservation-title > h2 {
        font-size: 38px;
    }

    .reservation-left {
        padding: 25px;
    }

    .fill-name {
        height: 43px;
    }
    
    .fill-name>input {
        padding-block: 10px;
        padding-right: 10px;
        background-position: 20px 8px;
    }

    .form-second-row-wrapper {
        column-gap: 20px;
    }

    .fill-email {
        height: 43px;
    }

    .fill-email>input {
        padding-block: 10px;
        padding-right: 10px;
        background-position: 20px 8px;
    }

    .fill-ph-no {
        height: 43px;
    }

    .fill-ph-no>input {
        padding-block: 10px;
        padding-right: 10px;
        background-position: 20px 8px;
    }

    .form-third-row-wrapper {
        column-gap: 20px;
    }

    .fill-date {
        height: 43px;
    }

    .fill-date>input {
        padding-block: 10px;
        padding-right: 10px;
        background-position: 20px 8px;
    }

    .fill-time {
        height: 43px;
    }

    .fill-time>input {
        padding-block: 10px;
        padding-right: 10px;
        background-position: 20px 8px;
    }

    .reservation-right-top h4 {
        font-size: 24px;
    }

    .reservation-right-bot {
        column-gap: 20px;
    }

    .reservation-address p {
        max-width: 230px;
        font-size: 14px;
        line-height: 1.5;
    }

    .reservation-opening-hr p {
        font-size: 14px;
        line-height: 1.5;
    }

    .facts-left {
        row-gap: 30px;
        padding: 25px 20px;
        font-size: 14px;
        line-height: 150%;
    }

    .stats-context h4 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .right-block-wrapper {
        row-gap: 40px;
        padding: 20px;
        font-size: 14px;
        line-height: 150%;
    }

    .text-container h4 {
        font-size: 30px;
    }

    .block-bot-context {
        line-height: 1.5;
        font-size: 14px;
    }

    .faq-title>h2 {
        font-size: 30px;
    }

    .faq-q>h4 {
        font-size: 16px;
    }

    .faq-a p {
        font-size: 14px;
    }
    
    .footer-wrapper {
        padding-block: 50px 20px;
    }

    .contact-us-text {
        max-width: 80%;
    }

    .footer-nav {
        align-items: start;
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 479px) {
    .section-spacings {
        margin-bottom: var(--vsm-mb);
    }

    .title_spacing {
        margin-bottom: 0;
    }

    .reservation-title {
        padding-block: 36px;
    }

    .reservation-title > h2 {
        font-size: 32px;
    }

    .form-wrapper {
        row-gap: 20px;
    }

    .form-second-row-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .fill-email {
        width: 100%;
    }

    .fill-ph-no {
        width: 100%;
    }

    .form-third-row-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .fill-date {
        width: 100%;
    }

    .fill-time {
        width: 100%;
    }

    .fill-special-requests {
        height: 160px;
    }

    .reservation-button {
        margin-top: 20px;
    }

    .reservation-right-top h4 {
        font-size: 20px;
    }

    .reservation-right-top p {
        font-size: 14px;
        line-height: 1.5;
    }

    .reservation-right-bot {
        flex-direction: column;
        row-gap: 12px;
    }

    .reservation-divider {
        height: 1px;
        width: 100%;
    }

    .facts-right {
        flex-direction: column;
        row-gap: 20px;
    }

    .faq-title>h2 {
        font-size: 24px;
    }

    .faq-q {
        grid-column-gap: 15px;
    }

    .footer-wrapper {
        padding-block: 40px 20px;
        row-gap: 40px;
    }

    .contact-us {
        margin-bottom: 25px;
        padding-bottom: 25px;
    }

    .contact-us-text {
        max-width: none;
    }

    .contact-us-text>h4 {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .contact-us-text>p {
        font-size: 14px;
        line-height: 1.5;
    }

    .footer-info-item > p {
        line-height: 1.5;
    }
    
    .footer-nav-items-container {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .footer-info {
        grid-column-gap: 80px;
        grid-row-gap: 20px;
        flex-flow: wrap;
    }

    .footer-bot {
        font-size: 12px;
    }
}

